# Backend dependencies for VR Accessibility Assistant

# Web framework
fastapi
uvicorn
websockets

# Ollama client
ollama

# Translation model
transformers
torch
sentencepiece
sacremoses

# Speech-To-Text (STT)
faster-whisper

#finetuning
pandas
evaluate
datasets
scikit-learn
accelerate>=0.26.0
matplotlib